.timer {
  display: flex;
  color: white;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 6em;
}
body {
  background-image: radial-gradient(
    ellipse farthest-corner at center bottom,
    rgba(255, 5, 5, 0.6) 5%,
    #000 100%
  );
  background-color: #000;
  background-size: 100% 100%;
  background-attachment: fixed;
}
